// colors
$almost-black: #333333;
$blue-main: #346DF1;
$lighter-main: #ECF4FF;
$lighter-gray: #F1F1F1;
$darkest-gray: #666666;
$darker-gray: #888888;
$orange: #F8B200;

// sizes
$left-panel: 320px;
$left-panel-padding: 48px;
$right-panel-padding: 128px;
$button-padding: 10px 16px;
$button-border: 1px solid #CCCCCC;
$button-border-radius: 4px;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;

// spaces
$space-xs: 12px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 48px;
$space-xl: 64px;

// font-size
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-base: 16px;
$font-size-large: 24px;